/*
 * 爬虫模块 UI 样式
 * 
 * 功能说明：
 * - 模块专属样式
 * - 现代化设计
 * 
 * 样式类：
 * .spider-module - 模块容器
 * .input-group - 输入组
 * .result-container - 结果容器
 * .link-list - 链接列表
 * .image-grid - 图片网格
 * 
 * 设计要点：
 * - 毛玻璃效果
 * - 渐变边框
 * - 平滑动画
 * - 响应式布局
 */

/* TODO: 实现样式 */
/* TODO: 使用 CSS Grid/Flexbox */
/* TODO: 添加动画效果 */